<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Alunos</title>
    <!-- Outros links de estilo e scripts -->
</head>
<body>

<div th:replace="~{compartilhados/header}"></div>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Alunos</h1>
    <p class="mb-4">Aqui irá listar todos os alunos.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="/alunos/novo" class="btn btn-primary" style="margin-right: 20px;">Novo</a>
            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de alunos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Graduação</th>
                        <th>Data Graduação</th>
                        <th>Data Nascimento</th>
                        <th>Idade</th>
                        <th>Peso</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Turma</th>
                        <th>Observações</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Graduação</th>
                        <th>Data Graduação</th>
                        <th>Data Nascimento</th>
                        <th>Idade</th>
                        <th>Peso</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Turma</th>
                        <th>Observações</th>
                        <th>Ações</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="aluno : ${alunos}">
                        <td th:text="${aluno.nome}"></td>
                        <td th:text="${aluno.categoria}"></td>
                        <td th:text="${aluno.graduacao}"></td>
                        <td>
                            <span th:if="${aluno.dataGraduacao != null}" th:text="${#temporals.format(aluno.dataGraduacao, 'dd/MM/yyyy')}"></span>
                        </td>
                        <td>
                            <span th:if="${aluno.dataNascimento != null}" th:text="${#temporals.format(aluno.dataNascimento, 'dd/MM/yyyy')}"></span>
                        </td>
                        <td th:text="${aluno.idade}"></td>
                        <td th:text="${aluno.peso}"></td>
                        <td th:text="${aluno.telefone}"></td>
                        <td th:text="${aluno.email}"></td>
                        <td>
                            <span th:text="${aluno.enderecoRua}"></span>,
                            <span th:text="${aluno.enderecoNumero}"></span> -
                            <span th:text="${aluno.enderecoBairro}"></span>,
                            <span th:text="${aluno.enderecoCidade}"></span>
                        </td>
                        <td th:text="${aluno.turma}"></td>
                        <td th:text="${aluno.observacoes}"></td>
                        <td>
                            <a th:href="@{'/alunos/' + ${aluno.id}}" class="btn btn-warning">Alterar</a>
                            <a th:href="@{'/alunos/' + ${aluno.id} + '/excluir'}"
                               th:onclick="|return confirm('Confirma?');|"
                               class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<div th:replace="~{compartilhados/footer}"></div>

</body>
</html>
